.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
}

textarea {
    width: 96%;
    max-width: 600px;
    padding: 12px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: border 0.3s, box-shadow 0.3s;
  }
  
  textarea:focus {
    outline: none;
    border-color: #578bf5;
    box-shadow: 0 4px 12px rgba(0, 119, 255, 0.2);
  }
.counterBox{
    width: 100%;
}
p {
    width: 100%;
  font-size: 18px;
  margin: 10px 0;
  color: #333;
  background: #f2feff;
  padding: 20px 0;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-btn {
    width: 50%;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #368ff5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .clear-btn:hover {
    background-color: #266cbc;
  }

  @media (max-width: 600px) {
    textarea {
      height: 120px;
      font-size: 16px;
    }
  
    p {
      font-size: 16px;
    }
  
    .clear-btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }